<nav>
    <ul>
        <li><span>home</span><a class="active" href="#">&bull;</a></li>
        <li><span>about</span><a href="#projects">&bull;</a></li>
        <li><span>projects</span><a href="#contact">&bull;</a></li>
    </ul>
</nav>