<header>
    <div class="banner">
        <div class="about">
            <h1>hi, i'm <span>Jordi</span></h1>
            <p>I'm a kpo que estudia astronomia</p>
            <a class="green-btn" href="#projects">Projects</a>
            <button type="button" class="green-btn" href="#projects">Projects</button>
        </div>
        <canvas id="canvas1"></canvas>
        <img src="https://res.cloudinary.com/maiteeguren/image/upload/v1604299096/stormtr_amf5ux.png" alt="">
    </div>
</header>
<main></main>