.banner {
    height: 105vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.banner img {
    max-height: 750px;
    position: absolute;
    right: 5%;
    bottom: -5px;
}

.banner-text {
    z-index: 1;
    color: white;
    margin: 50px;
    width: 50vw;
    p {
        font-size: 20px;
        opacity: 0.8;
        font-weight: 300;
    }
}

h1 {
    font-size: 80px;
    font-weight: 400;
    margin: 20px 0;
}

h1 span {
    font-weight: 600;
}

#canvas1 {
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: black;
}

// buttons

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	color: #fff;
	position: relative;
	min-height: 50px;
	min-width: 200px;
	border: 0;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	overflow: hidden;
	//box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
    z-index: 0;
    margin: 40px 0;
    padding: 0 20px;
}
.btn, button:focus {
    outline: none;
}

.fill-one {
	position: absolute;
	background-image: linear-gradient(to right, #E040FB, #00BCD4);
	min-height: 70px;
	width: 420px;
	border-radius: 5px;
    top:0;
    left: -140px;
	z-index: -1;
    transition: all 0.2s ease;   
}

.container-one:hover .fill-one {
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	transform: translateX(100px);
}

.container-one:focus-within .fill-one {

}

// RESPONSIVE

@media(max-width: 1000px) {
    .banner img {
        right: -25px;
    }
}

@media(max-width: 720px) {
    .banner {
        height: 95vh;
    }
    .banner img {
        display: none;
    }
    .banner-text {
        width: 100vw;
    }
}