.banner {
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.banner img {
    height: 750px;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.banner .about {
    z-index: 1;
    color: white;
    margin: 5%;
    width: 50vw;
    p {
        font-size: 20px;
        opacity: 0.8;
        font-weight: 300;
    }
}

h1 {
    font-size: 80px;
    font-weight: 400;
    margin: 20px 0;
}

h1 span {
    font-weight: 600;
}

#canvas1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

.green-btn {
    border: 0;
    color: white;
    background-color: #5CC786;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
        background-color: #66CDA3;

    }
}