nav {
    background-color: transparent;
    position: absolute;
    display: flex;
    height: 100vh;
    align-items: center;
    right: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    text-align: right;
    font-size: 70px;
    margin: 10px 15px;
    list-style-type: none;
    z-index: 1;
    color: white;
    text-shadow: 0 0 30px white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
        font-size: 24px;
        display: none;
    }
    a {
        margin-left: 10px;
        color: white;
        line-height: 40px;
    }
    &:hover span {
        display: flex;
    }
}

